/*
 * Color Palette
 * turqoise - #08D9D6
 * black-ish - #252A34
 * pastel red - #FF2E63
 * light gray - #EAEAEA
 */

/* Page-Specific
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-family: 'Julius Sans One', Arial, sans-serif;
}

.page-fullscreen {
	/*height: 100%;
	min-height: 500px;*/
	width: 100%;
	position: relative;
	overflow: hidden;
}

/* Text/Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

h7 {
    color: #FF2E63;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 8rem 0 7rem;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
    background-color: #08D9D6;
    text-align: center;
}

.header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    /*text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);*/
}

.header a.me:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}

.header a.projects:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}

.header a.contact:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}

/* About Me
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.me-about {
    text-align: left;
}

.me-skills {
    text-align: right;
}

/* Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.projects {
    
}

/* Contact Me
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
    
}