/*
 * Color Palette
 * turqoise - #08D9D6
 * black-ish - #252A34
 * pastel red - #FF2E63
 * light gray - #EAEAEA
 */

/* Page-Specific
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-family: 'Julius Sans One', Arial, sans-serif;
}

.page-fullscreen {
	height: 100vh;
	min-height: 500px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

/* Text/Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

h7 {
    color: #FF2E63;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 8rem 0 7rem;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
    background-color: #08D9D6;
    text-align: center;
}

/* About Me
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.me-about {
    /*background-color: #CBF1F5;*/
    text-align: left;
}

.me-skills {
    text-align: right;
}

/* Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.projects {
    /*background-color: #A6E3E9;*/
}

/* Contact Me
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
    /*background-color: #71C9CE;*/
}